/* App.css */

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');

/* Define application styles here */

body {
  background: linear-gradient(-45deg, #d0ecdb, #ffffff); /* Adjusted gradient */
  background-size: 400% 400%;
  animation: gradient 15s ease forwards;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  height: 100vh; /* Full height of the viewport */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Prevent scrolling */
}

#root {
  width: 600px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Container for the entire app */
.app-container {
  max-width: 800px;
  width: 100%;
  margin: 50px 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow-y: auto;
  max-height: 90vh;
}

/* Main heading styles */
h1 {
  font-size: 24px;
  margin: 10px;
  padding: 10px;
  color: #28e07b;
  text-align: center;
}

/* Styles for input section */
.input-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  border-bottom: 2px solid #eaeaea;
}

/* Text input styles */
input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #eaeaea;
  border-radius: 4px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #F2A104;
}

.tasks-section {
  padding: 20px 0;
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #eaeaea;
  border-radius: 4px;
}

li:nth-child(even) {
  background-color: #eaeaea;
}

li .task-text {
  flex-grow: 1;
  padding: 0 10px;
}

li button {
  background-color: #eab677;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 10px;
}

li button:hover {
  background-color: #e53e3e;
}

.input-section button,
.remove-task {
  position: relative;
  font-size: 0;
  color: #fff;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
  border: none;
}

.plus-icon {
  background-color: #4CAF50;
  margin-right: 10px;
}

.plus-icon::before,
.plus-icon::after {
  content: '';
  position: absolute;
  background-color: #fff;
}

.plus-icon::before {
  width: 60%;
  height: 10%;
}

.plus-icon::after {
  width: 10%;
  height: 60%;
}

.remove-task {
  background-color: #F44336;
  width: 25px;
  height: 25px;
}

.remove-task::before {
  content: '';
  position: absolute;
  background-color: #fff;
  width: 60%;
  height: 10%;
}

::placeholder {
  font-family: "Raleway", sans-serif;
}

@media (max-width: 768px) {
  #root {
    width: 90%;
  }
}

@media (max-width: 480px) {
  #root {
    width: 90%;
  }

  .input-section {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .plus-icon {
    width: auto;
    margin-right: 10px;
  }
}
