/* src/TodoList.module.css */
body {
  font-family: 'Arial', sans-serif; /* O carga una fuente desde Google Fonts */
  background-color: #192E5B;
  color: #F2A104;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  color: #f6f9fc;
  text-align: center;
  margin-top: 20px;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar contenido horizontalmente */
}

.add-todo-form {
  width: 100%; /* Asegura que el formulario ocupe todo el ancho del contenedor */
  display: flex;
  justify-content: space-between; /* Centrar el contenido del formulario */
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.title {
  font-size: 20px;
  height: 20px;
  margin: auto;
  padding-right: 10px;
}

input {
  width: 50%;
  height: 20px;
  margin: 10px;
  padding: 10px;
  font-size: 18px;
}

button {
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  width: 20%;
  background-color: #00743F;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #F2A104;
}

.add-todo-form input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #A9A9A9;
  border-radius: 4px;
  font-size: 18px;
}

.add-todo-form button {
  background-color: #F2A104;
  color: #FFFFFF;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-todo-form button:hover {
  background-color: #00743F;
}

.todo-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%; /* Asegura que la lista ocupe todo el ancho del contenedor */
}

@media (max-width: 768px) {
  .container {
    width: 95%;
  }

  .add-todo-form {
    flex-direction: column;
  }

  .add-todo-form input[type="text"],
  .add-todo-form button {
    margin: 5px 0;
    width: 100%;
  }
}
